/* Selectores de elementos */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Selectores de clases */
.destacado {
    background-color: #f9f9f9;
    padding: 10px;
    border-left: 5px solid #333;
}

/* Selectores de IDs */
#titulo-principal {
    font-size: 3rem;
    color: #2c3e50;
}
.caja {
    width: 300px;
    padding: 20px; /* Padding coloreado */
    border: 5px solid #3498db; /* Borde coloreado */
    margin: 10px; /* Margen que no es visible pero que se nota en la separación */
    background-color: #ecf0f1; /* Contenido */
}
